<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Active?</th>
      <th>Admin?</th>
    </tr>
  </thead>

  <tbody>
    <% @bikers.each do |biker| %>
      <tr>
        <td><%= biker.username %></td>
        <td><%= biker.active %></td>
        <td><%= biker.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
