<h3><%= @biker.username %></h3>

<% if current_biker and current_biker.admin %>
  <p><%= link_to 'Biker List', bikers_path %></p>
<% end %>

<% if current_biker and @biker.username.eql? current_biker.username %>
  <p><%= link_to 'Add Bike', new_bikes_path %></p>
<% end %>

<div><%= markdown @biker.description %></div>
