body {
  margin: 0;
  padding: 0;
  background: #210;
  color: #a98;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  margin-top: 0;
  padding: 0.3em;
  padding-left: 0.6em;
  background: #a98;
  color: #210;
  font-variant: small-caps;

  a {
    background: #a98;
    color: #210;
    text-decoration: none;
  }

  a:hover {
    background: #a98;
    color: #248;
  }
}

.strip {
  margin: 0;
  border-bottom: 1px solid #a98;
  padding: 1.3em;
  padding-top: 1em;

  .right {
    float: right;

    a {
      margin: 0.3em;
      margin-right: 0;
      border: 1px solid #89a;
      padding: 0.3em;
      padding-right: 0.5em;
      padding-left: 0.5em;
      background: #210;
      color: #89a;
      text-decoration: none;
    }

    a:hover {
      background: #89a;
      color: #210;
    }
  }
}

.notice {
  padding: 1em;
  background: #89a;
  color: #210;
  font-weight: bold;
}

.alert {
  padding: 1em;
  background: #8a9;
  color: #210;
  font-weight: bold;
}

.content {
  margin: 3em;
  color: #ba9;
  font-size: 1.2em;
}

input, textarea {
  border: 1px solid #a98;
  padding: 3px;
  background: #210;
  color: #a98;
}

div.actions, form.button_to {
  input {
    margin: 0;
    border: 2px solid #754;
    padding: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background: #a98;
    color: #210;
    text-decoration: none;
    font-size: 1em;
  }

  input:hover {
    background: #89a;
    color: #210;
  }
}

.field {
  margin-bottom: 1em;
}

table {
  background: #a98;

  td {
    font-size: 1.3em;
  }

  th, a {
    text-align: center;
  }

  th, td {
    padding: 0.5em;
    background: #210;

    a {
      display: block;
      margin: 0.3em;
      border: 1px solid #89a;
      padding: 0.1em;
      padding-right: 0.5em;
      padding-left: 0.5em;
      background: #210;
      color: #89a;
      text-decoration: none;
      font-size: 0.7em;
    }

    a:hover {
      background: #89a;
      color: #210;
    }
  }
}
